.flip-card {
    background-color: transparent;
    width: 155px;
    height: 205px;
    perspective: 1000px;
    cursor: pointer;
    margin: 1rem;
    background: #eadfdf;
    border-radius : 10px;
    box-shadow: -5px 5px 13px #5e5959,
        5px -5px 13px #ffffff;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #eadfdf;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.flip-card-back {
    width: 150px;
    height: 200px;
    background-color: red;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 80%;
}