@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
    --light-theme: #eadfdf;
    --light-theme-shadow: 7px 7px 16px #dacfcf, -7px -7px 16px #faefef;
    --light-theme-shadow-inset: inset 7px 7px 16px #dacfcf, inset -7px -7px 16px #faefef;
    --dark-theme: #454547;
    --dark-theme-shadow: 5px 5px 21px #3b3b3d, -5px -5px 21px #4f4f51;
    --dark-theme-shadow-inset: inset 21px 21px 42px #3b3b3d, inset -21px -21px 42px #4f4f51;
}

* {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
}

.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--light-theme);
    height: 100%;
    min-height: 100vh;
}

.dark-theme.body-container {
    background: var(--dark-theme);
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-theme);
    height: 100%;
}

.dark-theme.container {
    background: var(--dark-theme);
}

.container .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 194px;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 5;
    top: 0;
    box-shadow: var(--light-theme-shadow);
    background-color: var(--light-theme);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    clear: both;
}

.dark-theme .container .header-container {
    background: var(--dark-theme);
    box-shadow: var(--dark-theme-shadow);
}


/* marvel logo starts */
.container .header-container .marvel-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* marvel logo ends */


/* previous and next button starts */

.container .header-container .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.container .header-container .button-container button {
    border: none;
    outline: none;
    padding: 0.6rem 1.8rem;
    margin-right: 0.6rem;
    cursor: pointer;
    border-radius: 10px;
    color: red;
    letter-spacing: 1px;
    font-weight: bold;
    background: var(--light-theme);
    box-shadow: var(--light-theme-shadow);
    font-family: 'Quicksand', sans-serif;
}

.dark-theme .container .header-container .button-container button {
    background: var(--dark-theme);
    box-shadow: var(--dark-theme-shadow);
}

.container .header-container .button-container button:active {
    box-shadow: var(--light-theme-shadow-inset);
}

.dark-theme .container .header-container .button-container button:active {
    box-shadow: var(--dark-theme-shadow-inset);
}

.container .header-container .button-container button.inactive {
    color: grey;
    cursor: not-allowed;
    background-color: #eadfdf;
    box-shadow: var(--light-theme-shadow-inset);
}

.dark-theme .container .header-container .button-container button.inactive {
    color: grey;
    cursor: not-allowed;
    background-color: var(--dark-theme);
    box-shadow: var(--dark-theme-shadow-inset);
}

.container .header-container .button-container button.next {
    margin-right: 0;
}

/* previous and next button ends */

/* category tabs start */

.container .switch-tabs-container {
    width: 100%;
    display: flex;
}

.switch-tabs-container label {
    flex: 1;
    background-color: var(--light-theme);
    border-left: 3px solid red;
    border-right: none;
    border-top: none;
    border-bottom: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: var(--light-theme-shadow);
    color: red;
    font-weight: bold;
    font-size: 80%;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

.dark-theme .switch-tabs-container label {
    background-color: var(--dark-theme);
    box-shadow: var(--dark-theme-shadow);
}

.switch-tabs-container label span {
    padding: 0.5rem 0;
    text-align: center;
    font-size: auto;
    display: block;
}

.switch-tabs-container label input {
    position: absolute;
    top: -20px;
}

.switch-tabs-container input:checked+span {
    color: black;
    box-shadow: var(--light-theme-shadow-inset);
}

.dark-theme .switch-tabs-container input:checked+span {
    color: white;
    box-shadow: var(--dark-theme-shadow-inset);
}

.switch-tabs-container label:last-child {
    border-right: 3px solid red;
}

/* category tabs end */

/* grid wrapper starts */

.container .grid-wrapper {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-color: var(--light-theme);
    box-shadow: var(--light-theme-shadow);
    padding: 1rem;
}

.dark-theme .container .grid-wrapper {
    background-color: var(--dark-theme);
    box-shadow: var(--dark-theme-shadow);
}

/* grid wrapper ends */

/* grid container starts */

.container .grid-wrapper .grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 100%;
}

/* grid container ends */


/* loading animation start */

.container .loading-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 214px);
}

/* loading animation end */

/* dark-mode switch start */
.container .header-container .theme-toggle {
    position: absolute;
    right: 15px;
    top: 8px;
    margin-left : 10px;
}

.toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
    left: 30px;
    background-color: white;
}

.checkbox:checked+.toggle {
    background-color: var(--dark-theme);
}

.checkbox {
    display: none;
}

/* dark-mode switch end */

/* responsive */
@media screen and (min-width: 1350px) {
    .container {
        width: 810px;
    }
}

@media screen and (max-width: 1235px) {
    .container .grid-wrapper .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 70%;
    }

    .container .grid-wrapper .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 535px) {
    .container {
        width: 85%;
    }
    .container .header-container .theme-toggle {
        right: 10px;
        top: 8px;
    }    
    .toggle {
        width: 26px;
        height: 12px;
    }
    .toggle:after {
        width: 10px;
        height: 10px;
    }
    .checkbox:checked+.toggle::after {
        left: 14px;
    }
    
}

@media screen and (max-width: 465px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 415px) {
    .container .grid-wrapper .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: 70%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 85%;
    }
}